<h2>Create a new list</h2>

  <div class="row">
    <div class="col-12">
      <%= simple_form_for(@list) do |f| %>
        <%= f.input :name, placeholder: 'Add a list name' %>
        <%= f.submit "Create", class: "btn btn-primary" %>
      <% end %>
    </div>

<br>
<%= link_to "â†©ï¸ Back to list all", lists_path(@list) %>
